.passiveStar {
}

.activeStar {
	fill: blue;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 8px;
	cursor: pointer;
	& div {
		width: 14.33px;
		height: 14.33px;
		background-position: center;
	}
}

.itemDisabled {
	cursor: auto;
}

.activeText {
	color: var(--active-text);
}

.passiveText {
	color: var(--text-point);
}

.hoverStar {
}
