.filmPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1856px;
	padding: 20px 32px 74px;
	box-sizing: border-box;
}

.actorsTitle {
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	margin: 24px 0;
}
