.select {
	width: 360px;
}

.selectTitle {
}

.selectInput {
}

.selectDecription {
}

.selectInput {
	border-radius: 8px;
	border: 1px solid var(--border-input);
	padding: 10px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
	transition: border 0.3s ease-in-out;
}

.selectInputActive {
	border: 1px solid var(--primary);
}

.selectInputPlaceholder {
	color: var(--text-placeholder);
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
}

.selectInputCurrentItem {
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
	color: var(--text-color);
}

.selectInputIcon {
	width: 17.92px;
	height: 17.92px;
}
.selectInputIconActive {
	background-image: url('../../assets/icons/arrowDown.svg');
}

.selectInputIconPassive {
	background-image: url('../../assets/icons/arrowUp.svg');
}

.selectItems {
	position: absolute;
	top: 44px;
	left: 0;
	width: 360px;
	max-height: 0px;
	overflow: hidden;
	border-radius: 8px;
	background-color: var(--fill-light);
	display: flex;
	transition: max-height 0.3s ease-in-out;
	flex-direction: column;
	z-index: 999;
}

.selectItem {
	padding: 12px 12px 10px 12px;
}

.selectItemsOpened {
	max-height: 999px;
}
