@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: Roboto, sans-serif;
}

:root {
	--primary: #ff5500;
	--primary-hover: #e94e00;
	--text-light: #ffffff;
	--fill-light: #ffffff;
	--fill-header: #1e1e1e;
	--fill-body: #ededed;
	--text-placeholder: #999fa6;
	--border-input: #e1e3e6;
	--text-color: #1b1f23;
	--text-point: #ababab;
	--active-text: #000000;
	--fill-pagination-disabled: #e9eaed;
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	background-color: var(--fill-body);
	color: var(--text-color);
}
